/* AUTHOR: toydotgame
 * CREATED ON: 2023-04-03
 * Styles for the index page, kind of a carrd ripoff. Overwrites the main.css styles, if any, for certain elements.
 */

:root {
	--card-width: 50vw;
	--background-color: #1c1c1cee; /* Overwriting main.css' value. */
	--border-width: 3px;
}

html {
	background-image: url("media/background.jpg");
	background-color: var(--background-color);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center bottom;
	background-size: auto 100vh;
}

/* Changes scaling when the vw is greater than the 4:3 ratio of the bg image. */
@media only screen and (min-width: 133vh) {
	html {
		background-size: 100vw auto;
	}
}

#content {
	margin: calc(2 * var(--padding)) auto 0vh auto;
	padding: 0vh var(--padding) 0vh var(--padding);
	width: var(--card-width);
	border: calc(2 * var(--border-width)) inset var(--accent-color);
	border-radius: 30px;
	background-color: var(--background-color);
}

@media only screen and (orientation: portrait) {
	#content {
		margin: 0vh auto 0vh auto;
		padding: 2vh var(--padding) 2vh var(--padding);
		width: calc(100% - 2 * var(--padding));
		border: none;
		border-radius: 0px;
	}

	.avatar {
		margin-top: 0vh !important;
	}
}

.avatar {
	width: 20vh;
	margin: var(--padding) auto 0vh auto; /* Copy padding consistency from #content element. */
	border: calc(2 * var(--border-width)) double var(--accent-color);

	transition: transform 0.2s ease-in-out;
}

.avatar:hover {
	transform: rotate(360deg) scale(0.95);
}

h1 {
	text-shadow: 0.5vh 0.5vh 1vh #b29abb60;
}

h1:hover {
	background: url("media/cooltext.gif");
	background-repeat: no-repeat;
	background-size: calc(var(--card-width) - 2 * var(--padding)) calc(2 * var(--title-size)); 
	background-position: center;
	color: #00000000;
	text-shadow: none;
}
