---
---

@import "{{ site.theme }}";

/* toydotgame 2021 */

header ul, footer {
	display: none;
}

header, header h1 {
	background-color: #e3e3e3;
	color: black;
}

body {
	background-color: #1c1c1c;
	color: white;
}

/* Headings seem to have a problem where they remain dark grey */
section h1, section h2, section h3, section h4, section h5, section h6 {
	color: white !important;
}
