---
---

@import "{{ site.theme }}";

/* toydotgame 2021 */

header ul, footer {
	display: none;
}

header, h1.header {
	background-color: #e3e3e3;
	color: black !important;
}

body {
	background-color: #1c1c1c;
	color: white;
}

/* Headings seem to have a problem where they remain dark grey */
h1, h2, h3, h4, h5, h6 {
	color: white !important;
}

/* Overwrite Dinky theme's CSS for <code> tags */
code {
	color: white !important;
	background-color: #0e0e0e !important; /* #0e0e0e is halfway between #1c1c1c and #000 */
}

img#inline {
	margin: 0px 0px 0px 0px !important;
	padding: 0px 10px 0px 0px !important;
	border: none !important;
	float: left;
}
